@import "../../themes/hello-friend-ng/assets/scss/_variables";

.aside {
    max-width: 50%;
    @media #{$media-size-phone} {
        max-width: 100%;
    }
}

figure {
    &.right-floated, &.left-floated {
        @media #{$media-size-phone} {
            float: none;
            text-align: left;

            img {
                margin: 0 auto;
            }
        }
    }
}

ul.skills {
    display: grid;
    grid-gap: .25rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media print {
	  .noprint { display: none; }
    .container > header { display: none; }
    #toc {
        display: none;
        & + hr { display: none; }
    }
}

ul.history {
    & > li:last-child {
        @media print {
            display: none;
        }
    }
}

@media screen {
	  .printonly { display: none; }
}
