* {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-size: 10pt;
}

.noprint {
    display: none;
}

body {
    max-width: 1024px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 13pt;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
    text-transform: uppercase;
}

header {
    h1, p {
        text-align: center;
    }
    h1 {
        font-family: "Scope One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 29pt;
        margin-bottom: 0.05em;
    }
    p {
        margin-top: 0;
        font-size: 14pt;
    }
}

#workhistory {
    & > ul {
        & > li:last-child {
            display: none;
        }
    }
}

#contact p {
    font-size: 10pt;

    display: grid;
    grid-gap: .35rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;

    &:first-child {
        margin-bottom: 0;
    }
    &:last-child {
        margin-top: 0;
    }
}

#projects {
    li {
        a {
            font-weight: bold;
        }
    }
}

#education {
    .container {
        padding: 20px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        & > * {
            padding: 0;
            margin: 0;

            &:nth-child(even) {
                text-align: right;
                font-size: 9pt;
            }
        }
    }
}

#workhistory {
    ul.history {
        li.job {
            p.title {
                .work-dates {
                    float: right;
                }
            }
            .tech {
                font-style: italic;
}
        }
    }
}
