<!DOCTYPE html>
<html lang="en">
  <head>
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  {% seo %}
    {% asset style.scss %}
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  </head>

  <body {% if page.id %}id="page-{{ page.id }}"{% endif %} class="bg-dark">
	<div class="container-fluid primary-container">
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark site-header">
		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#nav-links" aria-label="Toggle navigation"
				aria-controls="nav-links" aria-expanded="false">
		  <span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse nav navbar-collapse justify-content-end" id="nav-links">
		  <a class="nav-link" href="{{ site.baseurl }}/">Introduction</a>
		  <a class="nav-link" href="{{ site.baseurl }}/web/">Web Résumé</a>
		  <a class="nav-link" href="{{ site.baseurl }}/theater/">Acting Résumé</a>
		  <a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a>
		</div>
	  </nav>

	  <div class="row">
		<div class="order-2 order-md-1 col-12 col-md-3 col-xl-2 bd-sideboard bg-dark site-sidebar">
		  <aside>
			<figure class="figure">
			  <img src="{{ site.author.email | to_gravatar }}?s=200" class="figure-img img-fluid rounded-large" alt="" />
			  <figcaption class="figure-caption small">{{ site.description }}</figcaption>
			</figure>
		  </aside>

		  <aside>
			<header>
			  <h2>My Links</h2>
			</header>

			<ul class="list-group">
			  {% for link in site.links %}{% if link.display == false %}{% continue %}{% endif %}
			  <li class="list-group-item list-group-item-dark"><a href="{{ link.link }}">{{ link.title }} </a></li>
			  {% endfor %}
			</ul>
		  </aside>
		</div>

		<main class="bg-white rounded-large order-1 order-md-2 col-12 col-md-9 col-xl-10 py-md-3 ps-md-5 bd-content">
		  <section class="entry-content container-fluid">
			{% if page.title %}
			<header class="entry-header">
			  <h1 class="entry-title">{{ page.title }}</h1>
			</header>
			{% endif %}
			{{ content }}
		  </section>
		</main>

	  </div>

	</div>

	<footer class="footer bg-dark site-footer">
	  <div class="container-fluid">
		<p>{{ site.author.name }}
		  {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
		  {% if site.author.flickr %}<a href="https://www.flickr.com/photos/{{ site.author.flickr }}/"><i class="fa fa-flickr"></i></a>{% endif %}
		  {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github"></i></a>{% endif %}
		  {% if site.author.instagram %}<a href="https://instagram.com/{{ site.author.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
		  {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
		  {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
		</p>
	  </div>
	</footer>

	{% asset application.js %}
  </body>
</html>
