<!DOCTYPE html>
<html>
  <head>
	{% seo %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  </head>

  <body {% if page.id %}id="page-{{ page.id }}"{% endif %}>
	<section class="container-fluid primary-container">
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
		<div class="collapse navbar-collapse justify-content-end">
		  <a class="nav-link" href="{{ site.baseurl }}/">Introduction</a>
		  <a class="nav-link" href="{{ site.baseurl }}/web/">Web Resume</a>
		  <a class="nav-link" href="{{ site.baseurl }}/theater/">Acting Resume</a>
		  <a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a>
		</div>
	  </nav>

	  <div class="row">
		<div class="order-2 order-md-1 col-12 col-md-3 col-xl-2 bd-sidebard">
		  Here's a sidebar
		</div>

		<main class="order-1 order-md-2 col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
		  <section class="entry-content container-fluid">
			{% if page.title %}
			<header class="entry-header">
			  <h1 class="entry-title">{{ page.title }}</h1>
			</header>
			{% endif %}
			{{ content }}
		  </section>
		</main>
	  </div>

	</section>
  </body>
</html>
