<!DOCTYPE html>
<html>
  <head>
	{% seo %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  </head>

  <body {% if page.id %}id="page-{{ page.id }}"{% endif %}>
	<section class="container-fluid primary-container">
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
		<div class="collapse navbar-collapse justify-content-end">
		  <a class="nav-link" href="{{ site.baseurl }}/">Introduction</a>
		  <a class="nav-link" href="{{ site.baseurl }}/web/">Web Resume</a>
		  <a class="nav-link" href="{{ site.baseurl }}/theater/">Acting Resume</a>
		  <a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a>
		</div>
	  </nav>

	  <div class="row">
		<div class="order-2 order-md-1 col-12 col-md-3 col-xl-2 bd-sideboard bg-dark">
		  <aside>
			<header>
			  <h2>My Links</h2>
			</header>

			<ul class="list-group">
			  {% for link in site.links %}{% if link.display == false %}{% continue %}{% endif %}
			  <li class="list-group-item list-group-item-dark"><a href="{{ link.link }}">{{ link.title }} </a></li>
			  {% endfor %}
			</ul>
		  </aside>

		  {% if site.author.twitter %}
		  <aside>
			<header>
			  <h2>My Tweets</h2>
			  <a class="twitter-timeline"
				 data-height="400"
				 href="https://twitter.com/{{ site.author.twitter }}?ref_src=twsrc%5Etfw">
				Tweets by {{ site.author.twitter }}
			  </a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		  </aside>
		  {% endif %}
		</div>

		<main class="order-1 order-md-2 col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
		  <section class="entry-content container-fluid">
			{% if page.title %}
			<header class="entry-header">
			  <h1 class="entry-title">{{ page.title }}</h1>
			</header>
			{% endif %}
			{{ content }}
		  </section>
		</main>
	  </div>

	</section>
	{% js application %}
  </body>
</html>
